body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 80%;
}

header {
    background-color: #005E93;
    padding: 1.5rem 11%;
    display: flex;
    justify-content: space-between;
}

.header-blue {
    color: #005E93;
}

h2 {
    color: #3F9BCF;
    font-weight: 800;
    font-size: 2.5rem;
    padding: 37px;
}

h3 {
    font-weight: 800;
}

header img {
    width: 120px;
}

header input {
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 10px;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 40%;
}

.input-container input {
    padding-right: 30px;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

header button {
    border: none;
    color: #F2F6FF;
    background-color: transparent;
    border-bottom: 1px solid #F2F6FF;
    padding: 0;
    font-weight: 500;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #363636;
    margin: 0 20px;
}

.arrow {
    border: solid #F2F6FF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.add-section {
    /* background-image: url('..src/images/greeting-page/backdound.svg'); */
    padding: 3% 0 0;
}

.add-section .container {
    display: flex;
    justify-content: space-between;
}

.add-section h1 {
    font-weight: 700;
    width: 60%;
    color: #F2F6FF;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 50px;
}

.btn-container {
    font-size: larger;
    border: 5px solid #3F9BCF;
    border-radius: 10px;
    background-color: #F2F6FF;
    padding: 2% 6%;
}

.add-section .left-section button{
    font-weight: 700;
    color: #005E93;
    margin-bottom: 100px;
}

.add-section .right-section {
    text-align: center;
}

.add-section .right-section button {
    border: none;
    background-color: transparent;
    color: #F2F6FF;
    font-weight: 600;
}

.top-event-section {
    background-color: #fff;
}

.circles-container {
    width: 600px;
    height: 600px;
    background-color: transparent;
    display: inline;
    position: relative;
    overflow: hidden;
}

.blue-container::before{
    content: "";
    position: absolute;
    top: 470px;
    left: 550px;
    box-shadow: 0px 50px 300px 350px #005E93;
    border-radius: 50%;
}

.purple-container::before{
    content: "";
    position: absolute;
    top: 500px;
    left: 1500px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 350px #8D68BB;
}

.purple-circle {
    width: 600px;
    height: 600px;
    background-color: transparent;
   
}

.event-header {
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 15px 0;
}

.info-item {
    display: flex;
    justify-content: flex-start;
}

.info-item .info-text {
    color: #fff;
    font-size: 1.5rem;
}

.info-item .info-image {
    margin: 0 25px 0 0;
    width: 25px!important;
}

.info-item .info-price {
    font-weight: 600;
}

.socials-section {
    padding: 55px 0;
    background-color: #8D68BB;
}

.social-flex {
    display: flex;
    justify-content: space-between;
}

.header-container {
    padding: 10px 0;
    width: 205px;
    text-align: center;
    margin: 0 0 20px 0;
}

.hotline-header-container {
    width: 150px;
}

.header-container h4{
    color: #363636;
    font-size: 1rem!important;
    margin-bottom: 0;
    font-weight: 600;
}

.item {
    margin: 0 0 10px 0;
}

.logo {
    width: 20px;
    margin: 0 10px 0 0;
}

.name {
    font-weight: 600;
}

.footer {
    background-color: #005E93;
    padding: 55px 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.disclaimer {
    max-width: 25%;
    padding-top: 25px;
    color: #fff;
}

.project-logo {
    width: 150px;
}

.league-logo {
    width: 200px;
}

.category {
    background-color: #363636;
}

.category-header-flex {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
}

.category .show-more-btn {
    padding: 15px 50px;
    border: 5px solid #3F9BCF;
    color: #3F9BCF;
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    margin: 55px 0 100px 0;
}

.category-header-flex h3 {
    color: #3F9BCF;
}

.category-header-flex a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.category-item {
    max-width: 20%;
}

.category-item-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item-flex > * {
    flex-basis: calc(20% - 10px);
    margin: 5px;
}

.item-container {
    max-width: 20%;
}

.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.phone-numbers p{
    font-weight: 600;
    margin-bottom: 0!important;
    margin-left: 10px;
}

.auth h3 {
    text-align: center;
    align-items: center;
    padding: 115px 0 30px 0;
    color: #005E93;
    font-size: 2.5rem;
}

.auth-container {
    max-width: 25%;
    margin: 0 auto;
    background-color: #3F9BCF;
    border-radius: 10px;
}

.line {
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.auth-buttons button{
    width: 50%;
    border: none;
    background-color: #3F9BCF;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.auth-buttons .selected {
    background-color: #005E93;
}

form {
    padding: 20px 0 20px 0;
}

form input{
    margin-bottom: 20px;
}

form input[type="submit"] {
    border: 3px solid #005E93;
    color: #005E93;
    font-weight: 600;
    
}