body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 80%;
}

header {
    background-color: #005E93;
    padding: 1.5rem 11%;
    display: flex;
    justify-content: space-between;
}

.header-blue {
    color: #005E93;
}

h2 {
    color: #3F9BCF;
    font-weight: 800;
    font-size: 2.5rem;
    padding: 37px;
}

header img {
    width: 120px;
}

header input {
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 10px;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 40%;
}

.input-container input {
    padding-right: 30px;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

header button {
    border: none;
    color: #F2F6FF;
    background-color: transparent;
    border-bottom: 1px solid #F2F6FF;
    padding: 0;
    font-weight: 500;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #363636;
    margin: 0 20px;
}

.arrow {
    border: solid #F2F6FF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.add-section {
    /* background-image: url('..src/images/greeting-page/backdound.svg'); */
    padding: 3% 0 0;
}

.add-section .container {
    display: flex;
    justify-content: space-between;
}

.add-section h1 {
    font-weight: 700;
    width: 60%;
    color: #F2F6FF;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 50px;
}

.btn-container {
    font-size: larger;
    border: 5px solid #3F9BCF;
    border-radius: 10px;
    background-color: #F2F6FF;
    padding: 2% 6%;
}

.add-section .left-section button{
    font-weight: 700;
    color: #005E93;
    margin-bottom: 100px;
}

.add-section .right-section {
    text-align: center;
}

.add-section .right-section button {
    border: none;
    background-color: transparent;
    color: #F2F6FF;
    font-weight: 600;
}

.top-event-section {
    background-color: #fff;
}

.circles-container {
    width: 600px;
    height: 600px;
    background-color: transparent;
    display: inline;
    position: relative;
    overflow: hidden;
}

.blue-container::before{
    content: "";
    position: absolute;
    top: 470px;
    left: 550px;
    box-shadow: 0px 50px 300px 350px #005E93;
    border-radius: 50%;
}

.purple-container::before{
    content: "";
    position: absolute;
    top: 500px;
    left: 1500px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 350px #8D68BB;
}

.purple-circle {
    width: 600px;
    height: 600px;
    background-color: transparent;
   
}

.event-header {
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 15px 0;
}

.info-item {
    display: flex;
    justify-content: flex-start;
}

.info-item .info-text {
    color: #fff;
    font-size: 1.5rem;
}

.info-item .info-image {
    margin: 0 25px 0 0;
    width: 25px!important;
}

.info-item .info-price {
    font-weight: 600;
}

.socials-section {
    padding: 55px 0;
    background-color: #8D68BB;
}

.social-flex {
    display: flex;
    justify-content: space-between;
}

.header-container {
    padding: 10px 0;
    width: 205px;
    text-align: center;
    margin: 0 0 20px 0;
}

.hotline-header-container {
    width: 150px;
}

.header-container h4{
    color: #363636;
    font-size: 1rem!important;
    margin-bottom: 0;
    font-weight: 600;
}

.item {
    margin: 0 0 10px 0;
}

.logo {
    width: 20px;
    margin: 0 10px 0 0;
}

.name {
    font-weight: 600;
}

.footer {
    background-color: #005E93;
    padding: 55px 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.disclaimer {
    max-width: 25%;
    padding-top: 25px;
    color: #fff;
}

.project-logo {
    width: 150px;
}

.league-logo {
    width: 200px;
}