body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 80%;
}

header {
    background-color: #005E93;
    padding: 1.5rem 11%;
    display: flex;
    justify-content: space-between;
}

.header-blue {
    color: #005E93;
}

h2 {
    color: #3F9BCF;
    font-weight: 800;
    font-size: 2.5rem;
    padding: 37px;
}

h3 {
    font-weight: 800;
}

header img {
    width: 120px;
}

header input {
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 10px;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 40%;
}

.input-container input {
    padding-right: 30px;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

header button {
    border: none;
    color: #F2F6FF;
    background-color: transparent;
    border-bottom: 1px solid #F2F6FF;
    padding: 0;
    font-weight: 500;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #363636;
    margin: 0 20px;
}

.arrow {
    border: solid #F2F6FF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.add-section {
    background-image: url('public-images/backdound.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3% 0 0;
}

.add-section .container {
    display: flex;
    justify-content: space-between;
}

.add-section h1 {
    font-weight: 700;
    width: 60%;
    color: #F2F6FF;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 50px;
}

.btn-container {
    font-size: larger;
    border: 5px solid #3F9BCF;
    border-radius: 10px;
    background-color: #F2F6FF;
    padding: 2% 6%;
}

.add-section .left-section button{
    font-weight: 700;
    color: #005E93;
    margin-bottom: 100px;
}

.add-section .right-section {
    text-align: center;
}

.add-section .right-section button {
    border: none;
    background-color: transparent;
    color: #F2F6FF;
    font-weight: 600;
}

.top-event-section {
    background-color: #fff;
}

.circles-container {
    width: 600px;
    height: 600px;
    background-color: transparent;
    display: inline;
    position: relative;
    overflow: hidden;
}

.blue-container::before{
    content: "";
    position: absolute;
    top: 470px;
    left: 550px;
    box-shadow: 0px 50px 300px 350px #005E93;
    border-radius: 50%;
}

.purple-container::before{
    content: "";
    position: absolute;
    top: 500px;
    left: 1500px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 350px #8D68BB;
}

.purple-circle {
    width: 600px;
    height: 600px;
    background-color: transparent;
   
}

.event-header {
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 15px 0;
}

.event-cover-container {
    width: 230px;
    height: 300px;
    background-color: #D9D9D9;
}

.event-cover-container img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.info-item {
    display: flex;
    justify-content: flex-start;
}

.info-item .info-text {
    color: #fff;
    font-size: 1.5rem;
}

.info-item .info-image {
    margin: 0 25px 0 0;
    width: 25px!important;
}

.info-item .info-price {
    font-weight: 600;
}

.socials-section {
    padding: 55px 0;
    background-image: url("public-images/backdound.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.social-flex {
    display: flex;
    justify-content: space-between;
}

.header-container {
    padding: 10px 0;
    width: 205px;
    text-align: center;
    margin: 0 0 20px 0;
}

.hotline-header-container {
    width: 150px;
}

.header-container h4{
    color: #363636;
    font-size: 1rem!important;
    margin-bottom: 0;
    font-weight: 600;
}

.item {
    margin: 0 0 10px 0;
}

.logo {
    width: 20px;
    margin: 0 10px 0 0;
}

.name {
    font-weight: 600;
}

.footer {
    background-color: #005E93;
    padding: 55px 0;
    z-index: 2;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.disclaimer {
    max-width: 25%;
    padding-top: 25px;
    color: #fff;
}

.project-logo {
    width: 150px;
}

.league-logo {
    width: 200px;
}

.category {
    background-color: #363636;
}

.category-header-flex {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
}

.category .show-more-btn {
    padding: 15px 50px;
    border: 5px solid #3F9BCF;
    color: #3F9BCF;
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    margin: 55px 0 100px 0;
}

.category-header-flex h3 {
    color: #3F9BCF;
}

.category-header-flex a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.category-item {
    max-width: 20%;
}

.category-item-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item-flex > * {
    flex-basis: calc(20% - 10px);
    margin: 5px;
}

.item-container {
    max-width: 20%;
}

.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.phone-numbers p{
    font-weight: 600;
    margin-bottom: 0!important;
    margin-left: 10px;
}

.auth-page {
    min-height: 100vh;
    background-image: url("public-images/backdound.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-page h3 {
    text-align: center;
    align-items: center;
    padding: 115px 0 30px 0;
    color: #005E93;
    font-size: 2.5rem;
}

.auth-container {
    max-width: 25%;
    margin: 0 auto;
    background-color: #3F9BCF;
    border-radius: 10px;
}

.line {
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.auth-buttons button{
    width: 50%;
    border: none;
    background-color: #3F9BCF;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.auth-buttons .selected {
    background-color: #005E93;
}

form {
    padding: 20px 0 20px 0;
}

form input{
    margin-bottom: 20px;
}

form input[type="submit"] {
    border: 3px solid #005E93;
    color: #005E93;
    font-weight: 600;
    
}

.add-event-header {
    position: relative;;
    background-image: url("public-images/backdound.svg");
    background-size: cover;
    background-position: center;
    padding: 60px 0 60px 0;
    z-index: 2;
}

.add-event-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-event-header h3 {
    font-size: 2.5rem;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
}

.add-event-header a {
    color: #000;
    font-weight: 600;
}

.add-event-body {
    background-color: #F2F6FF;
}

.add-event-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.add-event-flex .info {
    min-width: 40%;
}

.add-event-flex .info h3 {
    color: #005E93;
    padding: 55px 0 35px 0;
}

.add-event-flex .info form input,
.add-event-flex .info form textarea,
.add-event-flex .info form select {
    border: 2px solid #3F9BCF;
}

.add-event-flex .info form select {
    margin-bottom: 20px;
}

.add-event-body button[type="submit"] {
    border: 4px solid #3F9BCF;
    border-radius: 10px;
    padding: 15px 60px;
    font-weight: 600;
    background-color: #fff;
    font-size: 1.2rem;
    margin: 20px 0 50px;
}

.add-event-body .right-section {
    position: relative;
}

.add-event-body .right-section .blue-container::before {
    top: 300px;
    left: 200px;
    box-shadow: 0px 0px 350px 200px #005E93;
    z-index: 1;
}

.add-event-body .right-section .purple-container::before {
    top: -20px;
    left: 0px;
    box-shadow: 0px 0px 350px 200px #8D68BB;
    z-index: 1;
}

.add-event-body .right-section p {
    display: inline;
    font-weight: 700;
    color: #005E93;
    margin: 0 10px 0 0;
}

.add-event-body .right-section i {
    display: inline-block;
    color: #005E93;
}

.add-event-body .right-section img{
    width: 600px;
    height: 600px;
    display: block;
    padding: 20px 20px 20px 0;
}

.add-event-body .right-section button {
    padding: 10px 30px;
    border: 4px solid #3F9BCF;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    color: #005E93;
    margin: 0 0 0 10px;
}

.add-event-body .right-section img,
.add-event-body .right-section p,
.add-event-body .right-section i,
.add-event-body .right-section button {
    position: relative;
    z-index: 2;
}

.account-navigation {
    text-align: center;
    padding: 13px 0;
}

.account-navigation a{
    color: #000;
    margin-right: 20px;
}

.account-page-body {
    position: relative;
}

.account-page-body h2,
.account-page-body p,
.account-page-body img,
.account-page-body div {
    position: relative;
    z-index: 2;
}

.account-page-body h2 {
    padding: 0;
    color: #005E93;
    padding: 50px 0;
}

.account-page-body .about {
    display: flex;
}

.account-page-body .photo-section {
    margin-right: 30px;
    width: 230px;
    height: 300px;
    background-color: #D9D9D9;
}

.account-page-body .photo-section img {
    height: 100%;
    width: 100%;
}

.account-page-body .info-section p {
    font-size: 1.2rem;
}

.account-page-body .recently-watched {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.account-page-body .blue-container::before {
    content: "";
    position: absolute;
    top: 400px;
    left: 1000px;
    box-shadow: 0px 50px 350px 300px #005E93;
    z-index: 1;
}

.account-page-body .purple-container::before {
    content: "";
    position: absolute;
    top: 400px;
    left: 200px;
    box-shadow: 0px 50px 350px 300px #8D68BB;
    z-index: 1;
}